@reference "tailwindcss";

.wrapper {
    display: grid;
	grid-template-columns: minmax(2rem, auto) minmax(80px, 420px) minmax(190px, 860px) minmax(2rem, auto);
    grid-template-areas: ". aside main .";
    @apply w-full min-h-screen py-6;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
}

.checkoutWrapper {
    grid-template-columns: minmax(1rem, auto) minmax(320px, 1180px) minmax(1rem, auto);
    grid-template-areas: ". main .";
}

@media (max-width: 980px) {
    .wrapper {
        grid-template-columns: minmax(1rem, auto) minmax(280px, 1fr) minmax(1rem, auto);
        grid-template-areas:
            ". aside ."
            ". main .";
        @apply gap-6;
    }
}
